header{
    background-color: silver;
}
main {
    background-color: lightgray;
    overflow: auto;
  }
footer{
    background-color: white;;
    overflow: auto;
    clear: both;
  }
  .site-nav{
    width: 100%;
    background-color: gray;
  }
  .site-nav a{
    color: white;
    text-decoration: none;
  }
  .site-nav ul{
    list-style-type: none;
    padding-left: 0;
  }
  .site-nav a{
    color: white;
    text-decoration: none;
  }
  
  .site-nav li{
    display: inline-block;
    position: relative;
    font-size: 1rem;
    padding: .5rem 3rem;
  }
  .site-nav li:hover{
  background-color: black;
  }
  .site-nav ul.drop-down{
    display: none;
    min-width: 10rem;
    background-color: lightgray;
    top: 2.1rem;
    left: 0;
    position: absolute;
  }
  .site-nav >ul> li:hover ul.drop-down{
    display: block;
  }
  .site-nav ul.drop-down li{
   display: block;
   width: 100%;
   padding:.5rem 1rem;
  }
  
  .site-nav ul.drop-down a{
    color: black;
  }
  .site-nav ul.drop-down li:hover a{
    color: white;
  }
article{
    float: left;
  }
.main-column{
    width: 60%;
    margin: 10px
  }
.side-column{
    width: 30%;
    margin: 10px;
    font-family: 'Patrick Hand', cursive;
  }

h1{
  text-align: center;
  font-size: 3rem;
}
h2{
  text-align: center;
}
/**div.a{
  transform: rotate(180deg);
}**/
.wrapper{
    margin: 0 auto;
    max-width: 1000px;
    overflow: auto;
/**    border: 2px solid purple;**/
  }
