header{
    background-color: silver;
}
main {
    background-color: lightgray;
    overflow: auto;
  }
footer{
    background-color: lightblue;
    overflow: auto;
    clear: both;
  }
nav{
    background-color: lightblue;
    overflow: auto;
    margin: 0;
  }
nav ul{
      list-style-type: none;
      padding: 0;
  }
nav li{
    float: left;
    margin: 0;
    padding: .5rem 1rem .5rem 0;
  }
article{
    float: left;
  }
.main-column{
    width: 60%;
    margin: 10px
  }
.side-column{
    width: 30%;
    margin: 10px;
    font-family: 'Patrick Hand', cursive;
  }
img{
  transform: rotate(90deg);
}
h1{
  text-align: center;
  font-size: 3rem;
}
h2{
  text-align: center;
}
/**div.a{
  transform: rotate(180deg);
}**/
.wrapper{
    margin: 0 auto;
    max-width: 1000px;
    overflow: auto;
/**    border: 2px solid purple;**/
  }
